<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>B:Widlak</title>
<meta name="description" content="B:Widlak">

<link href="https://fonts.googleapis.com/css?family=Lato:100i,300,400|Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/css/styles.css">

<link rel="alternate" type="application/rss+xml" title="Your awesome title" href="/feed.xml">

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
