{% for job in site.data.jobs %}

  <article>
    <header>
      <h2>
        {{ job.title }}
      </h2>
      <h3>{{ job.employer }}</h3>
      <h4>
        <i class="fa fa-calendar-o fa-fw light-green" aria-hidden="true"></i>
        {{ job.date }}
      </h4>
      <h4>
        <i class="fa fa-map-marker fa-fw light-green" aria-hidden="true"></i>
        {{ job.location }}
      </h4>
    </header>
    <p>
      {% for role in job.roles %}
        <h5>{{ role.position }}</h5>
        <ul>
          {% for resp in role.responsibilities %}
            <li>{{ resp }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </p>

  </article>

{% endfor %}
